{% extends "base/baseadmin.html" %}

{% load static %}

{% block title %}
Gestion de Rutas - Horarios 1
{% endblock %}

{% block content %}
<div class="container text-center">
  <h1>Ruta - Zona Centro</h1>
  <div class="row mt-3">
    <div class="col">

      <table class="table table-bordered text-white">
        <thead>
          <tr>
            <th scope="col">Paradas</th>
            <th scope="col">Descripción</th>
          </tr>
        </thead>
        <tbody>
          {% for ruta in rutas1 %}
          <tr>
            <td>{{ ruta.0 }}</td>
            <td>{{ ruta.1 }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col" style="max-width: 57px;">
      <table class="table table-bordered text-white">
        <thead>
          <tr>
            <th scope="col">Mat</th>
          </tr>
        </thead>
        <tbody>
          {% for ruta in rutas11 %}
          <tr>
            <td>{{ ruta.0 }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col" style="max-width: 57px;">
      <table class="table table-bordered text-white">
        <thead>
          <tr>
            <th scope="col">Vesp</th>
          </tr>
        </thead>
        <tbody>
          {% for ruta in rutas111 %}
          <tr>
            <td>{{ ruta.0 }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col" style="max-width: 0px;">
      <table class="table table-bordered text-white">
        <thead>
          <tr>
            <th scope="col">Noct</th>
          </tr>
        </thead>
        <tbody>
          {% for ruta in rutas1111 %}
          <tr>
            <td>{{ ruta.0 }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <a href="{% url 'home:rutas' %}" class="btn btn-outline-dark form-control mt-3">Volver</a>
</div>
{% endblock %}