{% extends "base/baseadmin.html" %}

{% block title %}
Actualizar conductor
{% endblock title %}

{% block content %}
<div class="container text-center">
  <h1>Actualizar conductor:</h1>
  <style>
    .btn-group {
      margin-top: 10px;
    }

    .form {
      max-width: 400px;
      margin: 0 auto;
    }

    .form .form-group label {
      color: white;
    }

    .form-buttons {
      text-align: center;
    }
  </style>

  <div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <form action="" method="post" class="form">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="form-buttons text-right">
            <button type="submit" class="btn btn-outline-dark">Actualizar</button>
            <a href="{% url 'core:list_conductores' %}" class="btn btn-outline-dark">Cancelar</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}